:root{
    background-color: white;
}
div div{
    float: left;
    margin: 0.5rem;

    
}
div div img{
    border: solid 2px grey;
    background-color: lightgray;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    width: 18rem;
    height: 12rem;
    filter: opacity(0.8);
    
    
    
}

.dog-friends{
    position: absolute;
    top: 6rem;
    left:10rem;
    filter: grayscale(30) ;
    transform: rotate(-15deg);
    z-index: 0;
    opacity: 0.7;
}

.smiley{
   position: absolute;
   top: 10rem;
   left:16rem;
   transform: rotate(-5deg);
   filter: grayscale(30) ;
   z-index: 1;
   opacity: 0.7;
}
.dog-wall{
    position: absolute;
    top: 14rem;
    left:20rem;
    transform: rotate(5deg);
    filter: grayscale(30) ;
    z-index: 2;
    opacity: 0.7;
}
.four-dogs{
    position: absolute;
    top: 18rem;
    left:26rem;
    transform: rotate(15deg);
    filter: grayscale(30) ;
    z-index: 3;
    transition: 600ms;
    opacity: 0.7;
}
.dog-friends:hover{
    position: absolute;
    top: 6rem;
    left:10rem;
    transform: rotate(0deg);
    filter: none;
    z-index: 4;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    opacity: 1;

}

.smiley:hover{
    position: absolute;
    top: 10rem;
    left:16rem;
    transform: rotate(0deg);
    filter: none;
    z-index: 4;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    opacity: 1;

}
.dog-wall:hover{
    position: absolute;
    top: 14rem;
    left:20rem;
    transform: rotate(0deg);
    z-index: 4;
    filter: none;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    opacity: 1;
}
.four-dogs:hover{
    position: absolute;
    top: 18rem;
    left:26rem;
    transform: rotate(0deg);
    filter: none;
    z-index: 3;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

