div div{
    
    float: left;
    filter: grayscale(30) ;
    margin: 0.5rem;

    
}
div div img{
    border: solid 0.5px grey;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    width: 18rem;
    height: 12rem;
    filter: opacity(0.7);
}

.dog-friends{
    position: absolute;
    top: 6rem;
    left:10rem;
}

.smiley{
   position: absolute;
   top: 6rem;
   left:16rem;
}
.dog-wall{
    position: absolute;
    top: 6rem;
    left:20rem;
}
.four-dogs{
    position: absolute;
    top: 6rem;
    left:26rem;
}